<!-- banner -->
<div id="home-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="banner-content">
          <div class="home-social">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          <div class="banner-info">
            <p style="
                font-size: 45px;
                margin-bottom: 0;
                font-family: 'Pacifico', cursive;
              ">
              Hello, I am
            </p>
            <h2 style="
                font-size: 75px;
                margin-top: 0;
                line-height: 92px;
                margin-left: -8px;
              ">
              Balakrishna Jonnadula
            </h2>
            <h3 style="
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 26px;
              ">
              UI Developer
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- nav bar-->
<nav class="navbar navbar-dark navbar-expand-lg sticky-top" (scroll)="onWindowScroll()">
  <div class="container-fluid">

    <div class="ms-5 col-lg-3 col-xl-4 col-xxl-4" style="height: 60px; line-height: 60px;">
      <a class="navbar-brand  p-0" href="#" style="color: #fff;">Balakrishna Jonnadula</a>
    </div>
    <div class="me-5 bg-light">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-dark navbar-toggler-icon">

        </span>
      </button>
    </div>

    <div class="collapse navbar-collapse col-lg-9 col-xl-8 col-xxl-8" id="navbarSupportedContent">
      <nav class="mainmenu ">
        <ul class="nav navbar-nav">
          <li class=""><a class="line_none list_item" href="#home-banner">Home</a></li>
          <li class=""><a class="line_none list_item" href="#about">About Me</a></li>
          <li class=""><a class="line_none list_item" href="#skill">Skills</a></li>
          <!-- <li class=""><a class="line_none list_item" href="#exprience">Experience</a></li> -->
          <li class=""><a class="line_none list_item" href="#education">Education</a></li>
          <li class=""><a class="line_none list_item" href="#portfolio">Portfolio</a></li>
          <li class=""><a class="line_none list_item" href="#contact">Contact</a></li>
          <li class=""><a class="line_none list_item" href="#blog">Blog</a></li>
        </ul>
      </nav>
    </div>
  </div>
</nav>

<!--  -->
<div id="about" class="about-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="section-title">
          <h1>Balakrishna Jonnadula</h1>
        </div>
      </div>
      <div class="col-md-8">
        <div class="about-info section-content text-info">
          <h4>Summary</h4>
          <p>
            Seeking a beginner role to enhance and explore my technical knowledge gained
            at Xyz University in the lastthree years. I hold a B.Tech degree from XYZ college
            and won the quiz challenge held at the campus.
          </p>
          <div class="signature">
            <h1>Balakrishna Jonnadula</h1>
          </div>
        </div>
        <address>
          <p><span>Nick Name : </span>Balakrishna</p>
          <p><span>Email : </span>myself.jbk@gmail.com</p>
          <p><span>Mobile : </span><a href="tel:+91 9346572736">+91 9346572736</a></p>
          <p><span>Date of Birth : </span> Feb 23, 1998</p>
          <p><span>Address : </span>Guntur, Andhra Pradesh</p>
        </address>
      </div>
    </div>
  </div>
</div>

<!-- My Skills -->
<div id="skill" class="skill-section bg-color section-padding ">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="section-title">
          <h1>My Skills</h1>
        </div>
      </div>
      <div class="col-md-8">
        <div class="section-content">
          <div class="text-info">
            <h4>Experience Skill</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          </div>
          <div class=" row">
            <div class=" col-md-8">
              <div class="mb-2">
                <label>Html 5 &amp; CSS 3</label>
                <span class="rating-count pull-right">80%</span>
              </div>
              <div class="skill-progress">
                <div class="progress">
                  <div class="progress-bar " role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                    style="width: 80%; background-color: #f26522;"></div>
                </div>
              </div>
              <div class="mb-2">
                <label>JavaScript</label>
                <span class="rating-count pull-right">50%</span>
              </div>
              <div class="skill-progress">
                <div class="progress">
                  <div class="progress-bar bar1" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100" style="width: 50%;background-color: #b90162"></div>
                </div>
              </div>
              <div class="mb-2">
                <label>jQuery</label>
                <span class="rating-count pull-right">50%</span>
              </div>
              <div class="skill-progress">
                <div class="progress">
                  <div class="progress-bar bar2" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100" style="width: 50%;background-color: #87c05e"></div>
                </div>
              </div>
            </div>
            <div class="skill col-md-8">
              <div class="mb-2">
                <label>Bootstrap</label>
                <span class="rating-count pull-right">75%</span>
              </div>
              <div class="skill-progress">
                <div class="progress">
                  <div class="progress-bar bar3" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100" style="width: 75% ; background-color: #f4bf00"></div>
                </div>
              </div>
              <div class="mb-2">
                <label>Angular</label>
                <span class="rating-count pull-right">60%</span>
              </div>
              <div class="skill-progress">
                <div class="progress">
                  <div class="progress-bar bar4" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100" style="width: 60%;background-color: #3c70b4"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="language-skill">
            <div class="text-info">
              <h4>Language skill</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam.
              </p>
            </div>
            <ul>
              <li class="chart" data-percent="100">
                <span class="percent mb-3">70</span>
                <h5>English</h5>
                <canvas height="137" width="137" style="height: 110px; width: 110px"></canvas>
              </li>
              <li class="chart" data-percent="90">
                <span class="percent percent1 mb-3">90</span>
                <h5>Telugu</h5>
                <canvas height="137" width="137" style="height: 110px; width: 110px"></canvas>
              </li>
              <!-- <li class="chart" data-percent="100">
                <span class="percent percent2 mb-3">60</span>
                <h5>Hindi</h5>
                <canvas height="137" width="137" style="height: 110px; width: 110px"></canvas>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- My experience -->
<!-- <div id="exprience" class="exprience-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="section-title">
          <h1>My Exprience</h1>
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-info">
          <h4></h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>
        <div class="exprience">
          <div class="exprience-image">
            <img class="img-fluid" src="images/exprience/1.png" alt="Image" />
          </div>
          <div class="exprience-info">
            <h3>Senior Graphic Designer</h3>
            <h5>July, 2012 - Present (4 years)</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          </div>
        </div>
        <hr />
        <div class="exprience">
          <div class="exprience-image">
            <img class="img-fluid" src="images/exprience/2.png" alt="Image" />
          </div>
          <div class="exprience-info">
            <h3>Former Graphic Designer</h3>
            <h5>March, 2011 - June, 2012 (1 year, 3 Month)</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          </div>
        </div>
        <hr />
        <div class="exprience">
          <div class="exprience-image">
            <img class="img-fluid" src="images/exprience/3.png" alt="Image" />
          </div>
          <div class="exprience-info">
            <h3>Head of Design</h3>
            <h5>March, 2005 - March, 2011 (6 years)</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          </div>
        </div>
        <hr />
        <div class="exprience">
          <div class="exprience-image">
            <img class="img-fluid" src="images/exprience/4.png" alt="Image" />
          </div>
          <div class="exprience-info">
            <h3>Graphic Designer</h3>
            <h5>January, 2004 - March, 2005 (1 Year, 2 Months)</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          </div>
        </div>
        <hr />
        <div class="exprience">
          <div class="exprience-image">
            <img class="img-fluid" src="images/exprience/5.png" alt="Image" />
          </div>
          <div class="exprience-info">
            <h3>Graphic Designer (intern)</h3>
            <h5>January, 2002 - August, 2004 (2 years, 7 months)</h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- My education -->
<div id="education" class="education-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="section-title">
          <h1>Education</h1>
        </div>
      </div>
      <div class="col-md-8">
        <div class="section-content">
          <div class="text-info">
            <h4>Just My Educational Background</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          </div>
          <div class="education-info">
            <img class="img-fluid" src="http://www.cecc.co.in/wp-content/uploads/2019/05/web-logo.png" alt="Image" />
            <h3>Chirala Engineering College</h3>
            <h5>Bachelor or Technology</h5>
            <h6>2017 - 2020</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          </div>
          <hr />
          <div class="education-info">
            <img class="img-fluid"
              src="https://www.indiacollegeshub.com/upload/college-logo/diviseema-polytechnic-krishna.jpg?h=100&w=100&scale=both&quality=75"
              alt="Image" />
            <h3>Diviseema Polytechnic College</h3>
            <h5>Diploma</h5>
            <h6>2013 - 2016</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          </div>
          <hr />
          <div class="education-info">
            <img class="img-fluid" src="https://zphsilavaram.files.wordpress.com/2017/09/screenshot-from-2017-07-16-1737421.png" alt="Image" width="110"/>
            <h3>ZPHS Ilavaram</h3>
            <h5>SSC</h5>
            <h6>2012 - 2013</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              enim ad minim veniam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- portfolio -->
<div id="portfolio" class="portfolio-section section-padding bg-color">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="section-title">
          <h1>Portfolio</h1>
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-info">
          <h4>My Recent Work</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>
        <div class="portfolio-content">
          <div class="row">
            <div class="col-sm-6 col-lg-5">
              <div class="portfolio-item">
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/portfolio/1.jpg" alt="Image" />
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <a href="https://demo.themeregion.com/geek/images/portfolio/1.jpg"><i class="fa fa-camera-retro text-light fs-3"
                        aria-hidden="true"></i></a>
                    <h3>Book Cover</h3>
                    <p>Print Design</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-5">
              <div class="portfolio-item">
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/portfolio/2.jpg" alt="Image" />
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <a href="https://demo.themeregion.com/geek/images/portfolio/2.jpg"><i class="fa fa-camera-retro text-light fs-3"
                        aria-hidden="true"></i></a>
                    <h3>Book Cover</h3>
                    <p>Print Design</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-5">
              <div class="portfolio-item">
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/portfolio/3.jpg" alt="Image" />
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <a href="https://demo.themeregion.com/geek/images/portfolio/3.jpg"><i class="fa fa-camera-retro text-light fs-3"
                        aria-hidden="true"></i></a>
                    <h3>Book Cover</h3>
                    <p>Print Design</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-5">
              <div class="portfolio-item">
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/portfolio/4.jpg" alt="Image" />
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <a href="https://demo.themeregion.com/geek/images/portfolio/4.jpg"><i class="fa fa-camera-retro text-light fs-3"
                        aria-hidden="true"></i></a>
                    <h3>Book Cover</h3>
                    <p>Print Design</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-5">
              <div class="portfolio-item">
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/portfolio/5.jpg" alt="Image" />
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <a href="https://demo.themeregion.com/geek/images/portfolio/5.jpg"><i class="fa fa-camera-retro text-light fs-3"
                        aria-hidden="true"></i></a>
                    <h3>Book Cover</h3>
                    <p>Print Design</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-5">
              <div class="portfolio-item">
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/portfolio/6.jpg" alt="Image" />
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <a href="https://demo.themeregion.com/geek/images/portfolio/6.jpg"><i class="fa fa-camera-retro text-light fs-3"
                        aria-hidden="true"></i></a>
                    <h3>Book Cover</h3>
                    <p>Print Design</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-5">
              <div class="portfolio-item">
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/portfolio/7.jpg" alt="Image" />
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <a href="https://demo.themeregion.com/geek/images/portfolio/7.jpg"><i class="fa fa-camera-retro text-light fs-3"
                        aria-hidden="true"></i></a>
                    <h3>Book Cover</h3>
                    <p>Print Design</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-5">
              <div class="portfolio-item">
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/portfolio/8.jpg" alt="Image" />
                <div class="portfolio-overlay">
                  <div class="portfolio-info">
                    <a href="https://demo.themeregion.com/geek/images/portfolio/8.jpg"><i class="fa fa-camera-retro text-light fs-3"
                        aria-hidden="true"></i></a>
                    <h3>Book Cover</h3>
                    <p>Print Design</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- contact Me -->
<div id="contact" class="contact-section bg-color section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="section-title">
          <h1>Contact Me</h1>
        </div>
      </div>
      <div class="col-md-8">
        <div class="section-content">
          <div class="text-info">
            <h4>Lets Keep In Touch</h4>
            <p class="">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
          </div>
          <div class="address">
            <ul>
              <li>
                <div class="icons">
                  <i class="fa fa-map-signs" aria-hidden="true"></i>
                </div>
                <h3>Address</h3>
                <p>Guntur, Andhra Pradesh</p>
              </li>
              <li>
                <div class="icons icons1">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <h3>Mobile number</h3>
                <p>+91 9346572736</p>
              </li>
              <li>
                <div class="icons icons2">
                  <i class="far fa-envelope" ></i>
                </div>
                <h3>Email address</h3>
                <a href="#">myself.jbk@gmail.com</a>
              </li>
              <li>
                <div class="icons icons3">
                  <i class="fa fa-external-link" ></i>
                </div>
                <h3>Social profiles</h3>
                <ul class="social list-inline">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-github"></i></a></li>
                  <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                  <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  </ul>
              </li>
            </ul>
          </div>
          <div class="contact">
            <div class="contact-info">
              <div class="title">
                <div class="icons ">
                  <i class="far fa-comment text-success"></i>
                </div>
                <h3>Leave me a message</h3>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam.
              </p>
            </div>
            <form id="contact-form" class="contact-form" name="contact-form" method="post" action="#">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control" required="required" placeholder="Full Name" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="email" class="form-control" required="required" placeholder="Your email id" />
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="text" class="form-control" required="required" placeholder="Subject" />
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea name="message" required="required" class="form-control" rows="7"
                      placeholder="Your message"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Blog -->
<div id="blog" class="blog-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="section-title">
          <h1>Blog</h1>
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-info section-content">
          <h4>News &amp; Update</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="entry-post">
              <div class="entry-thumbnail">
                <div class="thumbnail-oberlay"></div>
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/blog/1.jpg" alt="Image" />
              </div>
              <div class="post-content">
                <div class="time">
                  <a href="#">09 <span>feb</span></a>
                </div>
                <div class="entry-title">
                  <h2>
                    <a href="#">Dashboard Design: 50+ Brilliant Examples and Resources</a>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="entry-post">
              <div class="entry-thumbnail">
                <div class="thumbnail-oberlay"></div>
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/blog/2.jpg" alt="Image" />
              </div>
              <div class="post-content">
                <div class="time time1">
                  <a href="#">19 <span>feb</span></a>
                </div>
                <div class="entry-title">
                  <h2>
                    <a href="#">Dashboard Design: 50+ Brilliant Examples and Resources</a>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="entry-post">
              <div class="entry-thumbnail">
                <div class="thumbnail-oberlay"></div>
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/blog/3.jpg" alt="Image" />
              </div>
              <div class="post-content">
                <div class="time time2">
                  <a href="#">11 <span>feb</span></a>
                </div>
                <div class="entry-title">
                  <h2>
                    <a href="#">Dashboard Design: 50+ Brilliant Examples and Resources</a>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="entry-post">
              <div class="entry-thumbnail">
                <div class="thumbnail-oberlay"></div>
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/blog/4.jpg" alt="Image" />
              </div>
              <div class="post-content">
                <div class="time time3">
                  <a href="#">09 <span>feb</span></a>
                </div>
                <div class="entry-title">
                  <h2>
                    <a href="#">Dashboard Design: 50+ Brilliant Examples and Resources</a>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="entry-post">
              <div class="entry-thumbnail">
                <div class="thumbnail-oberlay"></div>
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/blog/5.jpg" alt="Image" />
              </div>
              <div class="post-content">
                <div class="time time4">
                  <a href="#">08 <span>feb</span></a>
                </div>
                <div class="entry-title">
                  <h2>
                    <a href="#">Dashboard Design: 50+ Brilliant Examples and Resources</a>
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="entry-post">
              <div class="entry-thumbnail">
                <div class="thumbnail-oberlay"></div>
                <img class="img-fluid" src="https://demo.themeregion.com/geek/images/blog/6.jpg" alt="Image" />
              </div>
              <div class="post-content">
                <div class="time time5">
                  <a href="#">02 <span>feb</span></a>
                </div>
                <div class="entry-title">
                  <h2>
                    <a href="#">Dashboard Design: 50+ Brilliant Examples and Resources</a>
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- My Resume -->

<!-- <div id="profile" class="profile-section bg-color section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="section-title">
          <h1>My Resume</h1>
        </div>
      </div>
      <div class="col-md-8">
        <div class="section-content">
          <div class="profile-logo">
            <img class="img-fluid" src="images/profile.jpg" alt="Image" />
          </div>
          <div class="profile-info">
            <h1>Surzil Geek</h1>
            <h4>Web Developer</h4>
            <address>
              <p>
                Address: 123 West 12th Street, Suite 456 New York, NY 123456
                <br />
                Phone: +012 345 678 910 <br />
                <a href="#">Email: itsme@surzilegeek.com</a>
              </p>
            </address>
          </div>
          <div class="career-objective">
            <div class="title">
              <div class="icons">
                <i class="fa fa-black-tie" aria-hidden="true"></i>
              </div>
              <h3>Career Objective</h3>
            </div>
            <div class="sub-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur.
              </p>
            </div>
          </div>
          <hr />
          <div class="work-history">
            <div class="title">
              <div class="icons">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
              </div>
              <h3>Work History</h3>
            </div>
            <div class="sub-content">
              <div class="history">
                <h5>Senior Graphic Designer @ Buildomo</h5>
                <h6>2012 - Present</h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
              <hr />
              <div class="history">
                <h5>Former Graphic Designer @ Ideame</h5>
                <h6>2011 - 2012</h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
              <hr />
              <div class="history">
                <h5>Head of Design @ Titan Compnay</h5>
                <h6>2005 - 2011</h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
              <hr />
              <div class="history">
                <h5>Graphic Designer @ Precision</h5>
                <h6>2004 - 2005</h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
              <hr />
              <div class="history">
                <h5>Graphic Designer (Intern) @ Costa Rica Fruit Compnay</h5>
                <h6>2002 - 2004</h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </div>
          <hr />
          <div class="educational-background">
            <div class="title">
              <div class="icons">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </div>
              <h3>Educational Background</h3>
            </div>
            <div class="sub-content">
              <div class="education">
                <h5>Masters of Arts @ Montana Satet University</h5>
                <p>1999 - 2001</p>
              </div>
              <hr />
              <div class="education">
                <h5>Bachalor of Arts @ Universty of Bristol</h5>
                <p>1995 - 1999</p>
              </div>
              <hr />
              <div class="education">
                <h5>
                  Diploma in Graphics Design @ Cincinnati Christian University
                </h5>
                <p>1993 - 1995</p>
              </div>
            </div>
          </div>
          <hr />
          <div class="language-proficiency">
            <div class="title">
              <div class="icons">
                <i class="fa fa-language" aria-hidden="true"></i>
              </div>
              <h3>Language Proficiency</h3>
            </div>
            <div class="sub-content">
              <ul class="list-inline">
                <li>
                  <h5>English</h5>
                  <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                  </ul>
                </li>
                <li>
                  <h5>German</h5>
                  <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                  </ul>
                </li>
                <li>
                  <h5>Sh5anish</h5>
                  <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  </ul>
                </li>
                <li>
                  <h5>Latin</h5>
                  <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="expertise">
            <div class="title">
              <div class="icons">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
              </div>
              <h3>Expertise</h3>
            </div>
            <div class="sub-content">
              <div class="row">
                <div class="col-md-4">
                  <div class="rating-bar">
                    <label>Photoshop</label>
                    <div class="skill-progress">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                          aria-valuemax="100" style="width: 90%"></div>
                      </div>
                    </div>
                    <label>WordPress</label>
                    <div class="skill-progress">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                          aria-valuemax="100" style="width: 50%"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="skill rating-bar">
                    <label>Illustrator</label>
                    <div class="skill-progress">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                          aria-valuemax="100" style="width: 40%"></div>
                      </div>
                    </div>
                    <label>Joomla</label>
                    <div class="skill-progress">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                          aria-valuemax="100" style="width: 60%"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="skill rating-bar">
                    <label>Html 5 &amp; CSS 3</label>
                    <div class="skill-progress">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                          aria-valuemax="100" style="width: 95%"></div>
                      </div>
                    </div>
                    <label>PHP</label>
                    <div class="skill-progress">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                          aria-valuemax="100" style="width: 70%"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="personal-info">
            <div class="title">
              <div class="icons">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
              </div>
              <h3>Personal Info</h3>
            </div>
            <div class="sub-content">
              <ul class="address">
                <li>
                  <h5>Full Name</h5>
                  <span>:</span>Surzil Geek
                </li>
                <li>
                  <h5>Father's Name</h5>
                  <span>:</span>Robert Geek
                </li>
                <li>
                  <h5>Mother's Name</h5>
                  <span>:</span>Ismatic Roderos Geek
                </li>
                <li>
                  <h5>Date of Birth</h5>
                  <span>:</span>26/01/1982
                </li>
                <li>
                  <h5>Birth Place</h5>
                  <span>:</span>United State of America
                </li>
                <li>
                  <h5>Nationality</h5>
                  <span>:</span>Canadian
                </li>
                <li>
                  <h5>Sex</h5>
                  <span>:</span>Male
                </li>
                <li>
                  <h5>Address</h5>
                  <span>:</span>121 King Street, Melbourne Victoria
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="portfolio">
            <div class="title">
              <div class="icons">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
              </div>
              <h3>Portfolio</h3>
            </div>
            <div class="sub-content">
              <ul>
                <li>
                  <h5>Dribbble</h5>
                  <span>:</span><a href="#">dribbble.com/geek</a>
                </li>
                <li>
                  <h5>Website</h5>
                  <span>:</span><a href="#">www.surzilgeek.com/portfolio</a>
                </li>
                <li>
                  <h5>Flicker</h5>
                  <span>:</span><a href="#">www.flicker.com/geek-photography</a>
                </li>
                <li>
                  <h5>Behance</h5>
                  <span>:</span><a href="#">www.behance.com/geekin</a>
                </li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="declaration">
            <div class="title">
              <div class="icons">
                <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
              </div>
              <h3>Declaration</h3>
            </div>
            <div class="sub-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur.
              </p>
              <div class="signature">
                <h1>Surzil Geek</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="button">
          <a href="#" class="btn btn-primary">Download My Resume as a .pdf file</a>
        </div>
      </div>
    </div>
  </div>
</div> -->