#home-banner {
  background-image: url("https://demo.themeregion.com/geek/images/bg/2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.banner-content {
  position: relative;
  width: 100%;
  height: 700px;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
li {
  list-style: none;
}
.banner-content .banner-info {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  margin-top: -100px;
}
.about-section address span {
  font-weight: 700;
}


//------- nav bar -------
.container-fluid{
  padding:0px;
}

.navbar{
  padding: 0px;
  background-color:black;
}
.navbar-brand::after{

width:100%;
}

.list_item{
  text-align: center;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  padding: 0px 30px;
}
.navbar .navbar-toggler:focus {
  color:black;
}  
.navbar-toggler{
  color: black;
  background-color: rgb(0, 0, 0);
  border:0px;
  border-radius: 0;
}
@media only screen and (min-width: 992px) {
  .list_item{
    text-align: center;
    text-decoration: none;
    height: 40px;
    line-height: 60px;
    padding: 0px 20px;
  }
}

/* @media only screen and (min-width: 1200px) {
  .list_item{
    text-align: center;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    padding: 0px 25px;
  }
} */
.list_item:hover{
  color: #fff;
}
.mainmenu ul li:nth-child(1) {
  background:#f4bf00;
}
.mainmenu ul li:nth-child(2) {
  background:#f7941d;
}
.mainmenu ul li:nth-child(3) {
  background:#f26522;
}
.mainmenu ul li:nth-child(4) {
  background:#ed1c24 ;
}
.mainmenu ul li:nth-child(5) {
  background:#e10337;
}
.mainmenu ul li:nth-child(6) {
  background:#b90162;
}
.mainmenu ul li:nth-child(7) {
  background:#873e95;
}
.mainmenu ul li:nth-child(8) {
  background:#3c70b4;
}

.line_none{
  text-decoration: none;
  color: #fff;
}


//-----My skills----
.section-content {
  max-width: 750px;
}
.progress-content {
  overflow: hidden;
}
.skill-section .rating-bar {
  width: 360px;
}
.bar-left {
  float: left;
}
.bar-right {
  float: right;
}
.skill-section .rating-bar {
  width: 360px;
}
.rating-bar label,
.rating-bar span {
  font-size: 16px;
  margin-bottom: 10px;
}
.pull-right {
  float: right;
}
.skill-progress {
  position: relative;
  margin-bottom: 40px;
}
.progress {
  height: 8px;
  margin-bottom: 22px;
  background-color: #ebebeb;
  border-radius: 4px;
  box-shadow: none;
  width: 100%;
  position: relative;
}
.skill-section .rating-bar {
  width: 360px;
}
.language-skill {
  margin-top: 50px;
}
.language-skill li {
  float: left;
}
.language-skill .percent {
  display: inline-block;
  text-align: center;
  width: 116px;
  height: 116px;
  line-height: 116px;
  background-color: #f7941d;
  border-radius: 50%;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.language-skill .percent:after {
  content: "%";
}
.language-skill .percent1 {
  background-color: #f26522;
}
.language-skill li + li {
  margin-left: 80px;
}
.language-skill li {
  float: left;
}
.language-skill .chart h5 {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
}
.language-skill canvas {
  display: none;
}

// ----Education------

.bg-color {
  background-color: #f9f9f9;
  position: relative;
}
.section-padding {
  padding-top: 80px;
  padding-bottom: 100px;
}
.section-title {
  margin-bottom: 60px;
}
.section-content {
  max-width: 750px;
}
.text-info {
  font-size: 14px;
  line-height: 24px;
  color: #2d3038 !important;
  margin-bottom: 50px;
}
.education-info {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 5px;
  padding-top: 10px;
}
.section-content {
  max-width: 750px;
}
.contact-section .icons {
  color: #f7941d;
}
.contact-section .icons {
  float: left;
  font-size: 36px;
  margin-right: 30px;
}
.contact-section .icons1 {
  color: #ed1c24;
}
.contact-section .icons2 {
  color: #b90162;
}
.contact-section li:first-child {
  padding-top: 25px;
}
.contact-section li,
.contact-section li a {
  font-size: 16px;
  color: #2d3038;
}
.contact-section li {
  border-bottom: 1px solid #f1f1f1;
  padding: 30px 0;
}
.contact {
  font-size: 16px;
  line-height: 24px;
  padding-left: 50px;
  margin-top: 45px;
}
.contact .form-group {
  margin-top: 20px;
  margin-bottom: 0;
}
